/* Footer*/
.footer__site {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin: 0;
}
.address__site .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 60px;

  transition: color 250ms var(--o-transition-timing-function);
}
.site-nav:not(:first-child) {
  margin-bottom: 0;
}
.address__site .link:hover,
.address__site .link:focus {
  color: var(--address-color);
}
.mail-tell:not(:last-child) {
  margin-bottom: 9px;
}
.follow {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.follow__list {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.follow__nav {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 0x;
  padding: 0;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.follow__icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--icon-colors);
  transition: background-color 250ms var(--o-transition-timing-function);

  &:hover,
  &:focus {
    background: var(--address-color);
  }
}

/* Footer подпишись */

.follow__label input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: var(--primary-text-color);
  padding-left: 16px;
  outline: transparent;
}
