/*Переходы на страницы*/
.header {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  position: relative;
  @media screen and (min-width: 768px) {
    align-items: center;
  }
}
.header-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.item {
  padding-left: 40px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-bottom: 0;
  }
}
.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.site-nav .item {
  @media screen and (min-width: 768px) {
    outline: 1px solid transparent;
  }
}
.site-nav .item + .item {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--o-transition-timing-function);

  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--address-color);
}
.site-nav .link.current {
  color: var(--address-color);
}
.auth-nav {
  outline: 1px solid transparent;
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link {
  color: var(--primery-text-color);
  fill: #afb1b8;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--o-transition-timing-function),
    fill 250ms var(--o-transition-timing-function);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--address-color);
  fill: var(--address-color);
}
.icon-mail {
  margin-right: 10px;
  margin-bottom: -1px;
}
.icon-tell {
  margin-right: 10px;
  margin-bottom: -2px;
}
@media screen and (min-width: 798px) {
  .link.current {
    position: relative;
    color: var(--address-color);
  }
  .link.current::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: var(--address-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) {
}
