/*Переходы на страницы*/
.header {
  display: flex;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  position: relative;
  @media screen and (min-width: 768px) {
    align-items: center;
  }
}
.header-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.item {
  padding-left: 40px;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-bottom: 0;
    margin-left: auto;
  }
}
.item:nth-child(3) {
  padding-bottom: 0;
}
.site-nav {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.site-nav .item {
  outline: 1px solid transparent;
}
.site-nav .item + .item {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--o-transition-timing-function);

  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    display: block;
  }
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--address-color);
}
.site-nav .link.current {
  color: var(--address-color);
}
.auth-nav {
  outline: 1px solid transparent;
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav .item {
    margin-left: 71px;
  }
}
.auth-nav .item + .item {
  margin-left: 30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 59px;
    margin-top: 10px;
  }
}
.auth-nav .link {
  color: var(--primery-text-color);
  fill: #afb1b8;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  /*padding-top: 21px;
  padding-bottom: 21px;*/

  transition: color 250ms var(--o-transition-timing-function),
    fill 250ms var(--o-transition-timing-function);

  @media screen and (min-width: 1199px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--address-color);
  fill: var(--address-color);
}
.icon-mail {
  margin-right: 10px;
  margin-bottom: -1px;
}
.icon-tell {
  margin-right: 10px;
  margin-bottom: -2px;
}
@media screen and (min-width: 768px) {
  .link.current {
    position: relative;
    color: var(--address-color);
  }
  .link.current::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    background: var(--address-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .link.current {
    position: relative;
    color: var(--address-color);
  }
  .link.current::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: -34px;
    width: 100%;
    height: 4px;
    background: var(--address-color);
    border-radius: 2px;
  }
}

/* Мобильное модальное окно */
.reserw {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav {
  display: flex;
  margin: 0;
  padding-left: 40px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.items-tell {
  padding-top: 306px;
  padding-bottom: 32px;
  padding-left: 40px;
}
.tell {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--address-color);
  text-decoration: none;
}
.items-mail {
  padding-bottom: 64px;
  padding-left: 40px;
}
.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
}
.item-list {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.item-list:nth-child(1) {
  padding-left: 0;
}
.item-list:nth-child(4) {
  padding-right: 0;
  border: 0;
}
.click {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--address-color);
}
