.logo {
  color: var(--address-color);

  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;

  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
  }
}
span.studio {
  color: var(--title-text-color);
}

/*Footer logo*/
.logo-two {
  color: var(--address-color);

  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
span.studio-two {
  color: #ffffff;
}
