/* Секция 2,3 */
.section-title {
  padding-bottom: 0;
}
.delete {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.site__list {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.site__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.site__about {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;

  &:not(:last-child) {
    margin-right: 0;
  }
}

.container__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.container__image {
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.site__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
  min-height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.container__names {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}
