/*Секция 5*/
.container__emblem {
  list-style: none;
  padding: 0;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .emblem-list {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .emblem-list {
    margin-right: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.emblem-list__li {
  /*width: 170px;*/
  height: 92px;
  width: 210px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: #afb1b8;

  transition: border 250ms var(--o-transition-timing-function),
    fill 250ms var(--o-transition-timing-function);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    fill: var(--address-color);
  }
}
@media screen and (min-width: 1200px) {
  .emblem-list__li {
    width: 170px;
  }
}
