:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --address-color: #2196f3;
  --icon-color: #757575;
  --icon-colors: #ffffff;
  --insta-color: #afb1b8;
  --o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
